:root {
    --blue: #4a90e2;
    --green: #7ed321;
    --yellow: #ebdb1c;
    --offWhite: #f4f5f7;
    --inputBackground: #fbfbfb;
    --lightGray: #999;
    --white: #fff;
    --black: #000;
    --offBlack: #252525;
}

body {
    margin: 0rem;
    font-family: 'Noto Sans SC', sans-serif;
    height: 100%;
}

header {
    padding: 0.2rem 3rem;
    font-size: 0.5rem;
    color: var(--white);
    background-color: var(--offBlack);
    font-family: 'Noto Sans SC', sans-serif;
}

section {
    display: flex;
    flex-direction: row;
}

/* NAVBAR */
nav {
    float: left;
    width: 13%;
    -ms-flex: 0 13%;
    /* box-flex:  0;  */
    
    background-color: var(--offWhite);
    /* padding: top left bottom right; */
    padding: 1.8rem 2rem 0.5rem 0rem;
    color: var(--black);
    text-align: left;
}

.navbar-nav {
    list-style: none;
}

.nav-item {
    margin-bottom: 0.5rem;
    
}

.nav-item a {
    text-decoration: none;
    color: var(--offBlack);
    font-size: 1rem;
    font-weight: bold;
}

.icon {
    margin-right: 0.5rem;
}

/* MAIN */
.main {
    box-flex: 1; 
    margin-left: 1%;
    padding-top: 1rem;
    padding-left: 2rem;
}

.main h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.title {
    display: inline-block;
    margin-right: 34rem;
    margin-bottom: 1rem;
}

.btn {
    padding: 0.5rem 2.8rem;
    color: var(--white);
    border-radius: 5px;
    text-decoration: none;
}

.green-btn{
    background-color: var(--green);
}

.form-field {
    margin-bottom: 1.8rem;
}

.form-field input,.form-field select , .form-field textarea {
    background-color: var(--inputBackground);
    box-shadow: 0 -5px 5px -5px var(--offWhite);
    border-radius: 5px;
}

.form-field label{
    font-weight: bold;
    display: block;
    margin-bottom: 0.8rem;
}

.form-field input{
    padding: 0.3rem;
    height: 1.8rem;
    width: 25rem;
}

/* MAIN FOR ADD_USER */
.submit-btn{
    background-color: var(--blue);
}


/* MAIN FOR DASHBOARD */
.heading2 {
    font-size: 1rem;
}

table {
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.table-heading{
    background-color: var(--offWhite);
}

tr {
    border-bottom: 2px solid var(--inputBackground);
}

td,th {
    padding: 0.5rem;
}

.date {
    display: inline;
    margin-right: 1.5rem;
}

.new {
    background-color: var(--yellow);
    display: inline;
    padding: 1px;
}

.blue {
    color: var(--blue);
}

/* MAIN FOR CREATE_JOB */
.form-field select{
    height: 2.8rem;
    width: 26rem;
    border: 3px solid var(--offWhite) !important;
    box-shadow: 0 -5px 5px -5px var(--offBlack)!important;
}

/* MAIN FOR VIEW_JOBS */
.container {
    /* padding-right: 1rem; */
    width: 900px;
}

.main-header {
    border-bottom: 2px solid var(--offWhite);
}

.muted {
    color: var(--lightGray);
}

.text {
    margin-top: -20px;
}

.br {
    padding-bottom: 2px;
}